<h2>
    Latest posts:
</h2>
<br>
<%@results.each do |post|%>
    <p>
       <em><%=post['post_name']%></em>
       <br>
       <br>
       <%=post['content']%> 
       <br>
       <br>
       <span style="font-size: 75; color: #999">Added at: <%=post['created_date']%></span>
       <br>
       <br>
       <a href="/details/<%=post['id']%>">comments</a>
    </p>
    <hr>
<%end%>